<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-secuirty"
>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link
      rel="stylesheet"
      th:href="@{/css/styles.css}"
      href="../css/styles.css"
    />
  </head>
  <body>
    <div id="wrapper">
      <h1>Hello world!</h1>
      <p th:text="|The time on the server is ${serverTime}.|">
        The time on the server is 2018/01/01 00:00:00 JST.
      </p>
      <form
        th:action="@{/logout}"
        method="post"
        sec:authorize="isAuthenticated()"
      >
        <button type="submit">Logout</button>
      </form>

      <ul sec:authorize="isAuthenticated()">
        <li><a th:href="@{/account}">Account Information Page</a></li>
        <li><a th:href="@{/todo/list}">Todo List Page</a></li>
      </ul>
      <ul sec:authorize="!isAuthenticated()">
        <li><a th:href="@{/login/loginForm}">Login Form Page</a></li>
      </ul>
    </div>
  </body>
</html>
